extends base.pug

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/style.css
        include ../static/styleabout.css    

block content 
    div.container 
        h1 About Us
        p kaustubh dance academy is for poor people that can't aford the fees of dance academys. we provide free classes to poor people with perfection
        .cards 
            h3 Review by customer
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorem atque nam iure, autem quisquam, ipsum ipsam sunt velit accusantium numquam labore ratione deserunt sint tempore repudiandae quibusdam ab temporibus qui earum.
            
            h3 Review by customer
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorem atque nam iure, autem quisquam, ipsum ipsam sunt velit accusantium numquam labore ratione deserunt sint tempore repudiandae quibusdam ab temporibus qui earum.

            h3 Review by customer
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorem atque nam iure, autem quisquam, ipsum ipsam sunt velit accusantium numquam labore ratione deserunt sint tempore repudiandae quibusdam ab temporibus qui earum.
