extends base.pug

block scripts
    script(src="/static/index.js") 

block style
    style 
        include ../static/style.css
        include ../static/styleservices.css

block content
    .container 
        h1 Services 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem voluptatibus, aspernatur iure non qui laudantium a distinctio animi excepturi et. Id odio voluptatum minus dignissimos laborum eveniet impedit eligendi amet deserunt quibusdam, accusamus voluptatibus blanditiis reiciendis fugit doloremque ipsam temporibus aspernatur sint dolorem. Esse rerum molestiae vero, reprehenderit molestias ex repellendus maxime blanditiis ab quo sint ipsam quae. Recusandae officia ratione quaerat quae aliquid sequi fugit veritatis, explicabo, quibusdam delectus quisquam doloremque. Tenetur error deleniti autem ullam accusantium quas eveniet porro placeat, consequatur dolorem at nam sed voluptatem alias fugiat, beatae vero nisi fuga dolorum aspernatur odit commodi. Qui, laboriosam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum dolor quaerat beatae tempore assumenda sunt temporibus, iste iusto, pariatur vel sed dolore nesciunt nostrum labore? Accusantium nihil assumenda velit veniam aliquam nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto eveniet velit iure natus mollitia totam iusto repellendus dolor dolorum unde, error incidunt non aspernatur porro laboriosam asperiores assumenda consequatur necessitatibus eius sapiente. Sapiente porro sed, quo rerum iste, veritatis laudantium dicta accusantium, tempora accusamus fuga natus deleniti atque expedita ducimus rem voluptatem totam. Nulla asperiores, labore sit ducimus quo repudiandae omnis distinctio consequatur ratione ipsum aperiam voluptatibus neque recusandae sequi eveniet saepe nobis sint quia magni. Placeat, excepturi ab? Hic iure consectetur delectus itaque aliquid blanditiis 