@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
}

#navbar{
    padding: 8px 0px;
    background-color: #bd2d2d;
    font-family: 'Lobster', cursive;
}

#logo{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 2px;
    padding: 0px 9px;
}

#logo img{
    height: 42px;
    padding: 0px 9px;
}

#navbar ul{
    display: flex;
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar a{
    text-decoration: none;
    padding: 7px 23px;
    color: white;
    border-radius: 20px;
}

#navbar a:hover{
    background-color: white;
    color: black;
}

#introsection{
    height: 300px;
    flex-direction: column;
    background: url("/static/bg.jpg") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 66, 66);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

#introsection div.small{
    font-size: 20px;
}

#missonsection{
    background-color: #f5e2df;
    height: 313px;
}

#missonsection h2{
    text-align: center;
    padding-top: 10px;
    font-family: 'Anton', sans-serif;
}

.card{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    height: 209px;
    margin: 23px 19px;
}

.card h3{
    text-align: center;
    margin: 5px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    height: 100px;
    padding: 0px 14px;
    margin: 25px 3px;
}

.card-img img{
    height: inherit;
}

.card-content{
    padding: 0 12px;
}

.card-content p{
    font-size: 20px;
}

#sponserssection{
    background-color: rgb(216, 82, 58);
    height: 300px;
}

#sponserssection h2{
    text-align: center;
    padding-top: 10px;
    font-family: 'Anton', sans-serif;
}

#sponsers{
    height: 169px;
    max-width: 1000px;
    margin: 27px auto;
}

.spimg{
    height: 80%;
    margin: 20px;
}

#footer{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}